
.impressum-main {
    padding: 1rem;
    background-color: white;
}

.datenschutz-main {
    padding: 1rem;
    background-color: white;
}

.datenschutz-main a {
    color: blue;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {

    .impressum-main {
        padding: 1rem;
        padding-bottom: 2rem;
        margin: 0 6rem;
        border-radius: 15px;
    }

    .datenschutz-main {
        padding: 1rem;
        margin: 0 6rem;
        border-radius: 15px;
    }
}



