
h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote {
  margin-top: 0; 
}

.title {
  color: white;
}

html {
 background-color: grey;
 margin-right: 0;
}

body {

  /*hier wird der Abstand zum Rand der Webseite eingestellt*/
  background-color: rgba(245, 245, 245, 0.7);
  margin: 0;
 
  /*hier sind die Einstellungen für das Hintergrundbild*/
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /*sorgt dafür, dass das Bilde auch die ganze Seite bedeckt*/
    
}

header {
  padding: 1rem; 
  background-color: rgb(6, 0, 90);
  position: relative;

  /*Boxrandeinstellungen*/
  border-style: solid;
  border-radius: 4px;
  border-width: 4px;
  border-bottom-width: 0;
    
}

a {
  cursor: pointer;
}



/* HIER STEHT ALLES FÜR DIE NAVIGATION */

.nav-main {
  background-color: rgb(81, 81, 81);
  position: static;

  border-style: solid;
  border-radius: 4px;
  border-width: 4px;

}

.nav-main ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  max-height: 0;

}

.nav-main li {
  display: inline;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom: 0;
}

.nav-main a {
  text-decoration: none;
  color: white;
}

.current {
  background-color: rgb(6, 0, 90);
}

/*HIER WIRD DER MENÜBUTTON GESTALTET UND DIE KLASSE SHOWMENU DEFINIERT*/

.menubtn {
  display: flex;
  padding: 0.5rem 0.5rem; border: 0; margin: 0;
  background: none; color: white;
  align-items: center;
  cursor: pointer;
  font: inherit;
  text-align: center;
}

.menubtn::before {
  content: url(../img/icons8-menü.svg);
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  margin-left: 0;
  margin-bottom: 0.45rem;
}

.showmenu~ul {
  max-height: 100rem;
  transition: max-height 500ms;
  overflow: initial;
}

.showmenu.menubtn::before{
  content: url(../img/Black_close_x.svg);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 712px) {
  .menubtn { display: none !important; }
  .nav-main { 
    position: sticky;
    top: 0; /* wenn top abstand 0 gegeben ist, dann soll die Leiste mitkommen */
    
  }
  .nav-main ul {
    padding: 0.5rem;
    border-top-width: 0;
    max-height: none !important;
    flex-flow: nowrap;
    justify-content: space-evenly;
  }
  .nav-main li {
    border-top: 0;
    flex: 1;
    max-width: 10rem;
    text-align: center;
  }

  .nav-main li:hover {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(6, 0, 90);
  }

  .nav-main a { margin-right: 0;}

  .current {
    border-radius: 15px;
    border-style: solid !important;
    border-width: 2px !important;
    background-color: rgb(6, 0, 90);
  }

}


/* Hier steht alles für die Fußzeile*/

footer {
  padding: 1rem;
  margin: 0;
  background-color: gray;
}

footer ul {
  padding: 1rem 0;
  margin: 0;
  text-align: right;
}

footer li{
 display: inline;
 padding-right: 1rem;
 margin: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

/* "filler" schließt bei kleineren Geräten die entstandene Lücke zwischen footer und Seite */
.filler {
  padding: 4.3rem;
}

@media screen and (min-width: 600px) {
  .filler {
    padding: 0;
  }
}

