/** WAS HIER ZU FINDEN IST IN DER DATEI shop-site.css:
    1. Sidebar Einstellungen
    2. Color-Filter Einstellungen
    3. Akitve Filter Einstellungen
    4. ShopFeld
**/

.catalog-main{ display: flow-root; }

/* 1) Sidebar */

.filter-sidebar {
    background-color: white;
    float: left;
    margin-bottom: 10px;
    padding: 1rem;
    border-radius: 8px;
}

.filter-sidebar ul {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
}

.filter-sidebar li {
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;

    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 2px;
}

.filter-sidebar li:hover {
    background-color: rgb(157, 247, 247);
}

.filter-sidebar fieldset {
    padding: 0;
    border-radius: 5px;
}

.filter-sidebar legend {
    color: white;
    background-color: rgb(6, 0, 90);
    padding-right: 2rem;
    padding-left: 2rem;

    border-radius: 2px;
}


/* 2) Color-filter */

.filter-color li {
    border-style: none;
}

.filter-color img {
    border-style: solid;
    border-radius: 30px;

    
    max-width: 30px;
}


/* 3) Aktive Filter */

    .filtered img {
        border-style: solid;
        border-radius: 30px;

        max-width: 30px;
    }

    .filtered li {
        border-style: none !important;
        text-align: right;
        padding-left: 20px;
    }

/* 4) Shopfeld */

.shop-grid {
    background-color: gray;
    margin-left: 7rem;
    margin-right: 5rem;
    padding: 2rem;
    border-radius: 8px;
}

.shop-grid ul {
    list-style: none;
   
}

.shop-grid li {
    display: inline-block;
    margin-left: 40px ;
    
}

.shop-grid img {
    border-radius: 9px;

    max-height: 300px;
}


