/** WAS HIER ZU FINDEN IST IN DER DATEI shop-site.css:
    1. Sidebar Einstellungen
    2. Color-Filter Einstellungen
    3. Akitve Filter Einstellungen
    4. ShopFeld
    5. Artikelelementgestaltung
**/

.catalog-main{ display: flow-root; }

/* 1) Sidebar */

.filter-sidebar {
    background-color: white;
    float: left;
    margin-bottom: 10px;
    padding: 1rem;
    border-radius: 10px;
}

.filter-sidebar ul {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
}

.filter-sidebar li {
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 2px;
}

.filter-sidebar li:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.filter-sidebar fieldset {
    padding: 0;
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

fieldset:not(:first-child) {
    border-top: 0;
}



.filter-sidebar legend {
    color: white;
    background-color: rgb(6, 0, 90);
    padding-right: 2rem;
    padding-left: 2rem;

    border-radius: 2px;
}


/* 2) Color-filter */

.filter-color li {
    border-style: none;
}

.filter-color img {
    border-style: solid;
    border-radius: 30px;
    max-width: 20px;
}




/* 3) Aktive Filter */

 .filtered img {
    border-style: solid;
    border-radius: 30px;
        
    max-width: 20px;
}

.filtered li {
    background-image: url('../img/x-symbol-svgrepo-com.svg');
    background-position: 1rem;
    background-repeat: no-repeat;
    background-size: 10px;
    border-style: none !important;
    text-align: right;
    padding-left: 20px;
}


/* 4) Shopfeld */

.shop-grid {
    background-color: rgb(226, 226, 226);
    padding: 2rem;
    padding-bottom: 19.5rem;
    border-radius: 8px;
}


.shop-grid ul { 
    list-style: none; 
    display: flex; 
    flex-wrap: wrap; /* hilft ein beim Formen des Layouts */
}

.shop-grid li { 
    flex: 1 0.5 20% ;
    margin: 6px;
    
}

.shop-grid img {
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    margin-top: 8px;
    margin-left: 60px;
    margin-bottom: 2px;
    max-height: 300px;
}

/* Einstellungeb für die Artikel div-Elemente */

.s-item {
    padding-bottom: 1rem;
    border-radius: 9px;
}

.s-item p { 
    margin-left: 10px; 
    margin-bottom: 10px;
}

.s-item button {
    display: block;
}

.s-item select {
    margin-left: 10px ;
    border-radius: 3px;
}

.s-item button { 
    background-color: rgb(6, 0, 90) ;
    color: white;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 2px;
    padding :0.4rem 5rem;

    cursor: pointer;
}